# Получить ключ можно бесплатно на https://developer.tech.yandex.ru/services
# Для JavaScript API в личном кабинете создайте ключ "JavaScript API и HTTP Геокодер"
# Без ключа карта работает в demo-режиме (могут быть ограничения по подсказкам адреса)
VITE_YANDEX_MAPS_API_KEY=""
